@import './assets/scss/colors.scss';
@import './assets/scss/fonts.scss';


@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/mixins';

@import './components/style.scss';

.nav__a {
    color: $white ;
  
    @media (min-width: 992px) {
      color: $black; 
    }
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:ital,wght@0,300;1,300&family=Rubik+Doodle+Shadow&display=swap');

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;





// Bootstrap
@import 'bootstrap/scss/bootstrap';
// @import 'bootstrap-icons/font/bootstrap-icons';

//@import '@src/sass/_variables-dark';

